<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/flightdb?useSSL=false&amp;serverTimezone=Asia/Kolkata</property>
        <property name="connection.username">root</property>
        <property name="connection.password">pranav123</property>

        <!-- JDBC connection pool settings -->
        <property name="connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property>

        
        <property name="show_sql">true</property>

        <!-- Format SQL -->
        <property name="format_sql">true</property>

        <!-- Auto schema update -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Entity mappings -->
        <mapping class="com.searchflights.model.User"/>
        <mapping class="com.searchflights.model.Flight"/>
    </session-factory>
</hibernate-configuration>
